[user]
  name = Russell Blickhan
  email = rwblickhan@gmail.com
[core]
  pager = delta --line-numbers
  hooksPath = ~/.git_hooks
[delta]
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only --features=interactive
[pull]
rebase = false
[alias]
  a = "add ."
  auto = "!fish -c 'git commit -a -m $(~/utils/prepare-commit-msg.sh) && git push'"
  bd = "!fish -c 'git_fzf_branch_delete'"
  c = "!fish -c 'git_fzf_checkout'"
  cap = "!fish -c 'git commit -a && git push'"
  cb = "checkout -b"
  cm = "commit -m"
  cam = "commit -a -m"
  camp = "!fish -c 'git_commit_all_message_push $argv'"
  cp = "cherry-pick"
  d = "diff"
  ds = "diff HEAD"
  df = "!fish -c 'git_fzf_diff_file'"
  dfs = "!fish -c 'git_fzf_diff_file_staged'"
  db = "!fish -c 'git_fzf_diff_branch'"
  dbn = "!fish -c 'git_fzf_diff_branch_name_only'"
  dm = "diff main"
  dt = "difftool"
  dts = "difftool --staged"
  # https://kiranrao.ca/2024/06/21/git-config.html
  hist = "log --graph --abbrev-commit --decorate --date=short \
		--format=format:'%C(bold cyan)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)%an%C(reset) %C(bold yellow)%d%C(reset)' \
		--branches --remotes --tags"
  l = "log"
  ld = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
  lp = "log --oneline -p"
  ls = "log --oneline --decorate"
  ma = "merge --abort"
  mc = "merge --continue"
  mf = "!fish -c 'git_fzf_merge'"
  mm = "merge main --no-edit"
  mt = "mergetool"
  r = "!fish -c 'git_fzf_restore'"
  rs = "!fish -c 'git_fzf_restore_staged'"
  rsw = "!fish -c 'git_fzf_restore_staged_worktree'"
  s = "status"
  st = "stash"
  oops = "commit -a --no-edit --amend"
[push]
  autoSetupRemote = true
[diff]
  colorMoved = default
algorithm = histogram
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[merge]
  tool = vscode
  conflictStyle = zdiff3
[mergetool "vscode"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[mergetool]
	keepBackup = false
