.DS_Store
.config/iterm2
.config/raycast
.config/litecli/log
.config/litecli/history
.config/zed/.tmp*
.config/zed/embeddings
.config/zed/prompts
.config/configstore
.config/gcloud
.config/configstore
.config/graphite/user_config
.config/qBittorrent/
