[user]
 	name = Russell Blickhan
 	email = rwblickhan@gmail.com
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
	branch = false
[interactive]
    diffFilter = delta --color-only --features=interactive
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
    bd = "!fish -c 'git_fzf_branch_delete'"
    c = "!fish -c 'git_fzf_checkout'"
    cam = "!fish -c 'git_commit_all_message $argv'"
    camp = "!fish -c 'git_commit_all_message_push $argv'"
    echo = "!fish -c 'echo $argv'"
    d = "diff"
    df = "!fish -c 'git_fzf_diff'"
    dfn = "!fish -c 'git_fzf_diff_name_only'"
    l = "log --oneline --decorate"
    lf = "!fish -c 'git_fzf_commit_select'"
    lfc = "!fish -c 'git_fzf_commit_select_copy'"
    m = "!fish -c 'git_fzf_merge'"
    p = "push"
    s = "status"
    oops = "commit -a --no-edit --amend"
[push]
	autoSetupRemote = true
