.DS_Store
.config/iterm2
.config/raycast
.config/litecli/log
.config/litecli/history
.config/zed/.tmp*
.config/zed/embeddings
.config/zed/prompts
.config/configstore
.config/op
.config/gcloud
.config/qBittorrent/
.config/graphite/user_config
.hammerspoon/Spoons/EmmyLua.spoon/annotations/
.config/rclone/rclone.conf
secrets.fish
