[user]
  name = Russell Blickhan
  email = {{ if eq .chezmoi.username "rwblickhan" }}rwb@rwblickhan.org{{ else }}russell.blickhan@vanta.com{{ end }}
[core]
  pager = delta --line-numbers
  excludesfile = ~/.gitignore_global
[delta]
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only --features=interactive
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[diff]
  colorMoved = default
  algorithm = histogram
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[merge]
  tool = vscode
  conflictStyle = zdiff3
[mergetool "vscode"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[mergetool]
  keepBackup = false
{{ if eq .chezmoi.username "russellblickhan" -}}
[credential "https://github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential
{{ end -}}
