[user]
  name = Russell Blickhan
  email = {{ if eq .chezmoi.username "rwblickhan" }}rwb@rwblickhan.org{{ else }}russell.blickhan@vanta.com{{ end }}
[core]
  pager = delta --line-numbers
  excludesfile = ~/.gitignore_global
[delta]
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only --features=interactive
[pull]
  rebase = false
[push]
  autoSetupRemote = true
[diff]
  colorMoved = default
  algorithm = histogram
  tool = difftastic
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[merge]
  tool = vscode
  conflictStyle = zdiff3
[mergetool "vscode"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[mergetool]
  keepBackup = false
{{ if eq .chezmoi.username "russellblickhan" -}}
[credential "https://github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential
{{ end -}}
[hook "hk-commit-msg"]
  command = test \"${HK:-1}\" = \"0\" || hk run commit-msg --from-hook \"$@\"
  event = commit-msg
[hook "hk-post-checkout"]
  command = test \"${HK:-1}\" = \"0\" || hk run post-checkout --from-hook \"$@\"
  event = post-checkout
[hook "hk-post-commit"]
  command = test \"${HK:-1}\" = \"0\" || hk run post-commit --from-hook \"$@\"
  event = post-commit
[hook "hk-post-merge"]
  command = test \"${HK:-1}\" = \"0\" || hk run post-merge --from-hook \"$@\"
  event = post-merge
[hook "hk-post-rewrite"]
  command = test \"${HK:-1}\" = \"0\" || hk run post-rewrite --from-hook \"$@\"
  event = post-rewrite
[hook "hk-pre-commit"]
  command = test \"${HK:-1}\" = \"0\" || hk run pre-commit --from-hook \"$@\"
  event = pre-commit
[hook "hk-pre-push"]
  command = test \"${HK:-1}\" = \"0\" || hk run pre-push --from-hook \"$@\"
  event = pre-push
[hook "hk-pre-rebase"]
  command = test \"${HK:-1}\" = \"0\" || hk run pre-rebase --from-hook \"$@\"
  event = pre-rebase
[hook "hk-prepare-commit-msg"]
  command = test \"${HK:-1}\" = \"0\" || hk run prepare-commit-msg --from-hook \"$@\"
  event = prepare-commit-msg
