# :schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
email = "{{ if eq .chezmoi.username "rwblickhan" }}rwb@rwblickhan.org{{ else }}russell.blickhan@vanta.com{{ end }}"
name = "Russell Blickhan"

[ui]
diff-formatter = "delta"
default-command = "log"

[merge-tools]
delta.diff-expected-exit-codes = [0, 1]
