# :schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
email = "{{ if eq .chezmoi.username "rwblickhan" }}rwb@rwblickhan.org{{ else }}russell.blickhan@vanta.com{{ end }}"
name = "Russell Blickhan"

[ui]
diff-formatter = "delta"
default-command = "log"

[merge-tools]
delta.diff-expected-exit-codes = [0, 1]

[templates]
draft_commit_description = '''
  concat(
    coalesce(description, default_commit_description, "\n"),
    surround(
      "\nJJ: This commit contains the following changes:\n", "",
      indent("JJ:     ", diff.stat(72)),
    ),
    "\nJJ: ignore-rest\n",
    diff.git(),
  )
'''

[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'

[aliases]
push = ["util", "exec", "--", "jj-hp", "push"]
init = ["util", "exec", "--", "bash", "-c", """
jj git init --colocate
# only track origin branches, not upstream or others
jj bookmark track 'glob:*@origin'
"""]

[jj-hooks]
advance-bookmarks = true
