# :schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
email = "{{ if eq .chezmoi.username "rwblickhan" }}rwb@rwblickhan.org{{ else }}russell.blickhan@vanta.com{{ end }}"
name = "Russell Blickhan"

[ui]
diff-formatter = "delta"
default-command = "log"

[merge-tools]
delta.diff-expected-exit-codes = [0, 1]

[templates]
draft_commit_description = '''
concat(
  builtin_draft_commit_description,
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''

[aliases]
push = ["util", "exec", "--", "jj-hp", "push"]

[jj-hooks]
advance-bookmarks = true
